*{
	padding: 0;
	margin: 0;
}


.home{
	background: url(../images/travel.jpeg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;

}

.home > div > h1 {
	color: black
}

.btn{
	background-color: darkblue;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
}

.btn:hover{
	background-color: salmon;

}

.about{
	height: 100vh;
	background-color: salmon;
	display: flex;
}

.left{
	background: url(../images/stardust.jpeg);
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right{
	height: 100vh;
	width: 50vw;
	background: url(../images/destination.jpeg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.right> div >img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.me{
	background: url(../images/curator.jpeg);
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: 'Libre Caslon Text', serif;
}

.gallery{
	background: url(../images/gallery.jpg);
	background-position: center;
	text-align: center;
	height: 100vh;

}

.img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: .4s;
}

.img:hover{
	border-radius: 0%;
}

.gallery-container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:auto;
}

.contact{
	background: url(../images/contact.jpeg);
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact > div > form {
	height: 100vh;
	width: 80%;
	background-color: white;
	text-align: center;
}

form > h4 {
	font-size: 50px;
	text-align: center;
	margin: 10px;
}